.home{
    background-color: rgb(234, 237, 237)
}
.banner{
    width: 100%;
    margin-bottom: -190px;
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1),rgba(0,0,0,1)); */

}
.home__product{
    display: flex;
}
.each__product{
    height: 160px;
}
